/* NAVBAR-start */

.navbar-contents{
    position: fixed;
    top: 0px;
    z-index: 3;
    background-color: rgba(172, 137, 104, 0.9);
}
.nav-logo, .footer-logo{
    text-align: center;
    line-height: 0;
}
.nav-logo:hover, .footer-logo:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.nav-logo h1, .footer-logo h1{
    font-family: "Ole", cursive;
    font-weight: bold;
    color: #3e362e;
}
.nav-logo p, .footer-logo p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: lighter;
    color: #3e362e;
}
.navbar-nav li:hover{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width:992px) {
    .navbar-form button{
        display: none;
    }
    .form-control   {
        display: none;
    }
    .nav-item:hover{
        border-bottom: 2px solid #3e362e;
    }
}

/* NAVBAR-end */

/* Banner-start */

.banner{
  width: 100%;
  height: 100%;
  background-image: url(./images/banner-bg.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: cover;
  animation: example 4s infinite;
  position: relative;
}

@keyframes example {
    0%   {
        background-image: url(./images/banner-bg.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    50%  {
        background-image: url(./images/banner-bg.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    100% {
        background-image: url(./images/banner-bg.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

.div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.div .banner-head::before{
    content: "Bean There, Done That (A Cup of Inspiration)";
    animation: divHead 4s infinite;
}
@keyframes divHead {
    0%   {
        content: "A Quiet Cup (A Moment of Peace)";
    }
    50%  {
        content: "Bean There, Done That (A Cup of Inspiration)";
    }
    100% {
        content: "Beans & Brews (From Seed to Serenity)";
    }
}

.div .banner-para::before{
    content: "Coffee: the magic potion that turns 'I can't' into 'I will', and I'll be brilliant at it.";
    animation: divPara 4s infinite;
}

@keyframes divPara {
    0%   {
        content: "Sometimes, all you need is a quiet cup of coffee and a good book to start your day right.";
    }
    50%  {
        content: "Coffee: the magic potion that turns 'I can't' into 'I will', and I'll be brilliant at it.";
    }
    100% {
        content: "From humble bean to calming brew, coffee is the journey to a peaceful mind.";
    }
}

/* Banner-end */

/* about-us-start */

#about{
    height: 85vh;
}
.about-img img{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width:768px) {
    #about{
        height: 100%;
    }
    .about-content{
        height: 50vh;
        overflow: auto;
    }
    .about-img img{
        width: 80%;
        height: 50vh;
        left: 10%;
        top: 0;
        transform: none;
    }
}

/* about-us-end */

/* product-start */

.product{
    background-color:  rgba(172, 137, 104, 0.5);
    height: 85vh;
}
.product-owl{
    width: 100%;
}
.product-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.owl-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-img-top{
    border-radius: 50%;
}

/* product-end */